asgiref==3.9.1
certifi==2025.8.3
charset-normalizer==3.4.2
dj-database-url==3.0.1
Django==5.2.4
greenlet==3.2.3
gunicorn==23.0.0
idna==3.10
joblib==1.5.1
numpy==2.3.2
packaging==25.0
pandas==2.3.1
playwright==1.54.0
psycopg2-binary==2.9.10
pyee==13.0.0
python-dateutil==2.9.0.post0
pytz==2025.2
requests==2.32.4
scikit-learn==1.7.1
scipy==1.16.1
six==1.17.0
sqlparse==0.5.3
threadpoolctl==3.6.0
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.9.0
